__pycache__/
*.py[cod]
.venv-linux/

build/
dist/

Charmm_KPC/
New_soft_KPC/
structures_KPC/
structures_KPC.zip

.claude/

*.xlsx
*.docx
*.pdf
*.log

peptide_list.txt
minimize_foldit.lua
build_peptides_DSV.py
peptide_builder_gui.py
Peptide_Builder_Ready_to_Dock.spec
